<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-sdk tools:overrideLibrary="cu.uci.android.apklis_license_validator, com.lightspark.composeqr" />

    <queries>
        <package android:name="cu.apkuba" />
        <package android:name="cu.uci.android.apklis" />
    </queries>
</manifest>